<!doctype html>
<html>
<head>
<link rel="stylesheet" href="/css/style.css">
<title>Meadowlark Travel</title>
</head>
<body>
<header><img src="/image/logo.jpg" alt="Meadowlark Travel Logo" /></header>
{{{body}}}
</body>
</html>